.form {
  flex-basis: 50%;
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 500px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.chat {
  max-height: 500px;
  overflow-y: scroll;
}

.card {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.card__name {
  flex-basis: 30%;
  font-weight: bolder;
}
.card__date {
  flex-basis: 30%;
  font-style: italic;
  font-size: smaller;
}
.card__img {
  width: 50px;
  max-width: 100%;
}
.card__comment {
  flex-basis: 100%;
}
